.chatbot{
    position: fixed;
    right: 40px;
    bottom: 10rem;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0cqmax;
}

.chatbox header{
    background: #724ae8;
    padding: 16px;
    text-align: center;
}